<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title%></title>
		<%- include('partials/head'); -%>
		<link rel="stylesheet" href="/index.css" />
	</head>
	<%- include('partials/navigation'); -%>
	<body class="d-flex flex-column min-vh-100 text-white">
		<div id="container" class="mx-4">
			<%- include('partials/header'); -%>
			<div class="row mb-5">
				<!-- Good habits to keep controls for users that have JS turned off -->
				<div id="video-container" controls>
					<div class="row mx-2">
						<div class="col-md-7 col-sm-12">
							<div id="video-content" class="">
								<video id="video">
									Your browser does not support the video tag
								</video>
							</div>
							<!-- Custom controls are defined here -->
							<div id="video-controls">
								<div id="progress-bar-container" class="row">
									<progress
										id="progress-bar"
										value="0"
										min="0"
										class="d-none"
									></progress>
									<input
										class="seek"
										id="seek"
										value="0"
										min="0"
										type="range"
										step="1"
									/>
									<div class="seek-tooltip" id="seek-tooltip">00:00</div>
								</div>
								<div
									id="button-controls-container"
									class="row d-flex justify-content-center px-4"
								>
									<div
										id="left-controls"
										class="col-9 d-flex justify-content-left p-0"
									>
										<div class="col-2 d-flex justify-content-left">
											<button id="play" class="btn">
												<span title="Play (k)" class="play-pause-icons"
													><i class="fa-solid fa-play"></i
													><i class="fa-solid fa-pause d-none"></i>
												</span>
											</button>
										</div>
										<div class="col-4 d-flex justify-content-left">
											<button id="volume-btn" class="btn">
												<span title="Mute (m)" class="volume-icons">
													<i class="fa-solid fa-volume-high"></i>
													<i class="fa-solid fa-volume-low d-none"></i>
													<i class="fa-solid fa-volume-xmark d-none"></i>
												</span>
											</button>
											<input
												class="volume"
												id="volume"
												value="1"
												type="range"
												max="1"
												min="0"
												step="0.01"
											/>
										</div>
										<div class="col-1"></div>
										<div class="col-4 d-flex justify-content-center btn">
											<time id="time-elapsed">00:00</time>
											<span> / </span>
											<time id="duration">00:00</time>
										</div>
										<div class="col-1"></div>
									</div>
									<div
										id="right-controls"
										class="col-3 d-flex justify-content-right p-0"
									>
										<div class="col-4 d-flex justify-content-left">
											<button id="captioning-btn" class="btn">
												<span title="Subtitles (c)">
													<i class="fa-solid fa-closed-captioning"></i>
												</span>
											</button>
										</div>
										<div class="col-4 d-flex justify-content-left">
											<button class="btn">
												<i class="fa-solid fa-gear"></i>
											</button>
										</div>
										<div class="col-4 d-flex justify-content-left">
											<button id="fullscreen-btn" class="btn">
												<span title="Full screen (f)" class="screen-icons">
													<i class="fa-solid fa-expand"></i>
													<i class="fa-solid fa-compress d-none"></i>
												</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5 col-sm-12">
							<div id="video-index" class="d-flex justify-content-center"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-sm-12">
					<div id="video-info">
						<h5 id="videos-title">VIDEO'S TITLE</h5>
						<hr />
						<div class="row">
							<div class="col-3"><p>Song's Title:</p></div>
							<div class="col-3"><p id="songs-title"></p></div>
							<div class="col-6"></div>
						</div>
						<div class="row">
							<div class="col-3"><p>Author:</p></div>
							<div class="col-3"><p id="songs-author"></p></div>
							<div class="col-6"></div>
						</div>
						<div class="row">
							<div class="col-3"><p>Song's Genre:</p></div>
							<div class="col-3"><p id="songs-genre"></p></div>
							<div class="col-6"></div>
						</div>
						<div class="row">
							<div class="col-3"><p>Year:</p></div>
							<div class="col-3"><p id="songs-year"></p></div>
							<div class="col-6"></div>
						</div>
						<div class="row">
							<div class="col-3"><p>Song's Full Video Link:</p></div>
							<div class="col-3"><p id="songs-fullvideo"></p></div>
							<div class="col-6"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div id="other-videos">
						<h5>OTHER VIDEOS</h5>
						<hr />
					</div>
				</div>
			</div>
		</div>

		<!-- Video js -->
		<script src="/videoControls.js"></script>
		<script src="/index.js"></script>
	</body>
	<%- include('partials/footer'); -%>
</html>
